* {
  font-family: 'poppins';
  padding: 0;
  margin: 0;
  border: none;
}

:root {
  --color1: rgb(184, 184, 184);
  --color2: rgb(24, 24, 24);
  --color3: rgb(185, 32, 85);
  --color4: rgb(244, 244, 244);
  
}

.btn {
  transition: all 0.2s ease-in-out;
  background-color: var(--color3);
  border: 1px solid var(--color3);
  color: white;
  margin: 10px 0;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px;
}

/* FORM SECTION */

.form-section, .contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  padding: 5vh 0;
  color: var(--color3);
}

/*  FORM */

form {
  width: 200px;
  position: relative;
  margin: 0 7vw;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input, textarea {
  border-radius: 10px;
  border: 1px solid var(--color1);
  padding: 5px;
  vertical-align: middle;
  z-index: 1;
}

.submit-btn {
  text-align: end;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color2);
  color: white;
}

form > h2 {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 5rem;
  left:-125px;
  top: 30%;
  color: var(--color3);
  opacity: 0.2;
}

/* RESULT SECTION */

.result-section {
  display: flex;
  justify-content: space-around;
  padding: 3vh 0;
  background-color: var(--color3);
  color: white;

}

.result-section span {
  color: var(--color2);
}

/* LIST SECTION */

.liste-coworkings {
  padding: 4vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.filter-btn-container {
  margin: 2vh 0 4vh;
}

.filter-btn-container .btn {
  border-radius: 0;
  border: 0;
  border-left: 1px solid var(--color1);
}

.filter-btn-container >:first-child {
  border-radius: 10px 0 0 10px;
  border-left: 0;
}

.filter-btn-container >:last-child {
  border-radius: 0 10px 10px 0;
}


.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 5px;
  width: 70vw;
  position: relative;
}

.coworking-card {
  border-radius: 30px;
  position: relative;
}

.coworking-card img {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
  border-radius: 10px;
}

.coworking-card > h3 + p {
  color: var(--color3);
  font-style: italic;
}

.coworking-card > p + p {
  color: var(--color1);
}


.suppr-article-btn {
  border-radius: 100px;
  border: 5px solid white;
  position: absolute;
  top: -4%;
  right: 6%;
  padding: 4px 9px;
  font-size: 0.7rem;
}

/* CONTACT SESSION */

.submit-msg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  border: 1px solid var(--color3);
  padding: 20px;
  border-radius: 20px;
}

.userName {
  color: white;
}

/* SPINNER */

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 35px;
  height: 35px;
  
  & .path {
    stroke: var(--color1);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* UPDATE */

.update-container {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--color4);
}

.update-form {
  margin: 0;
}