* {
  font-family: 'poppins';
  padding: 0;
  margin: 0;
  border: none;
}

:root {
  --color1: rgb(227, 227, 227);
  --color2: rgb(24, 24, 24);
  --color3: rgb(185, 32, 85);
  
}

.btn {
  transition: all 0.2s ease-in-out;
  background-color: var(--color3);
  border: 1px solid var(--color3);
  color: white;
  margin: 10px 0;
  font-weight: 700;
  border-radius: 10px;
  padding: 8px 16px;
}

/* FORM SECTION */

.form-section, .contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  padding: 5vh 0;
  color: var(--color3);
}

/*  FORM */

form {
  width: 200px;
  position: relative;
  margin: 0 7vw;
}

.form-element {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input, textarea {
  border-radius: 10px;
  border: 1px solid var(--color1);
  padding: 5px;
  vertical-align: middle;
  z-index: 1;
}

.submit-btn {
  text-align: end;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color2);
  color: white;
}

form > h2 {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 5rem;
  left:-125px;
  top: 30%;
  color: var(--color3);
  opacity: 0.2;
}

/* RESULT SECTION */

.result-section {
  display: flex;
  justify-content: space-around;
  padding: 3vh 0;
  background-color: var(--color3);
  color: white;

}

.result-section span {
  color: var(--color2);
}

/* LIST SECTION */

.liste-coworkings {
  padding: 4vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.filter-btn-container {
  margin: 2vh 0 4vh;
}

.filter-btn-container .btn {
  border-radius: 0;
  border: 0;
  border-left: 1px solid var(--color1);
}

.filter-btn-container >:first-child {
  border-radius: 10px 0 0 10px;
  border-left: 0;
}

.filter-btn-container >:last-child {
  border-radius: 0 10px 10px 0;
}


.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 70vw;
}

.coworking-card {
  border-radius: 30px;
}

.coworking-card img {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
  border-radius: 10px;
}

/* CONTACT SESSION */

.submit-msg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  border: 1px solid var(--color3);
  padding: 20px;
  border-radius: 20px;
}

.userName {
  color: white;
}