body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Poppins, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 10vh;
    border-radius: 30px;
    border: 10px solid black;
    margin: 0 0 1vh;
    transition: all 0.2s ease-in;

}

img:hover {
    box-shadow:2px 2px 0px goldenrod, 2px -2px 0px rgb(22, 223, 197), -1px -1px 0px pink, -2px 2px 0px rgba(47, 2, 124, 0.8);
    rotate: -2deg;
}

button {
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
    margin: 30px 0 3vh;
    font-size: 1.5rem;
    font-weight: 700;
    transition: all 0.2s ease-in;
}

button:hover {
    background-color: goldenrod;
    color: white;
    box-shadow: 0 0 1000px goldenrod;
}