* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "poppins";
  color: var(--color5);
}

:root {
  --color1 : #212257;
  --color2 : #AC91FC;
  --color3 : #5B32FF;
  --color4 : #191950;
  --color5 : white;
}

body {
  background-color: var(--color4);
}

h2 {
  grid-column: 1/5;
  /* text-align: center; */
  color: var(--color2);
  font-weight: 500;
}

/* HEADER */

.main-header, .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: var(--color1);
}

.main-header .img-container {
  height: 50px;
  width: auto;
}

.main-header .img-container img {
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

.main-header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header nav ul li {
  padding: 0 30px;
}

.main-header nav ul li a {
  color: var(--color2);

}

.main-header nav ul li a:hover {
  color: var(--color5);

}

.button {
  grid-column: 1/5;
  margin: auto;
  padding: 12px 24px;
  background-color: var(--color3);
  width: 130px;
  text-align: center;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--color2);
  transform: scale(1.05);
}

/* FOOTER */

.main-footer {
  justify-content: center;
  gap: 30px;
  margin-top: 10vh;
}

.main-footer .img-container {
  height: 50px;
  width: auto;
}

.main-footer .img-container img {
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

/* CONTAINER */

.container {
  margin: 4vh 2vw;
  min-height: 68vh;
}

.coworkings-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 5vh;
}

article {
  width: 200px;
  height: auto;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--color1);
  transition: all 0.2s ease-in-out;
  position: relative;

}

article:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 15px var(--color3);
}

article::after {
  content: "";
  width: 100px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6px;
  background-color: var(--color4);
  position: absolute;
}

article .article-img-container {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
}

article .article-img-container img{
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.titre-rating {
  display: flex;
  justify-content: space-between;
}

.titre-rating p {
  color: var(--color2);
}

article > p {
  font-style: italic;
  color: var(--color3);
}

article .rate {
  display: flex;
  gap: 5px;
  align-items: center;
}

article svg {
  height: 12px;
  width: auto;
  fill: var(--color2);
}