* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Lato";
  color: var(--darkgrey);
}

:root {
  --white: white;
  --coral: #fae9de;
  --blue: #8e94b0;
  --lightbrown: #c4b8a7;
  --brown: #a08b73;
  --green: #bcbfa5;
  --lightgreen: #d7dac4;
  --darkgrey: rgb(54, 54, 54);
  --red: rgb(168, 0, 0);
}

.btn {
  padding: 15px 20px;
  background-color: var(--brown);
  border: 0;
  border-radius: 10px;
  color: var(--white);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* HEADER */

.main-header {
  background-color: var(--green);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.main-header ul {
  display: flex;
  align-items: center;
  gap: 6vw;
}

.main-header ul li .link {
  color: var(--darkgrey);
}

.main-header ul li {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
}

.main-header ul li::before {
  content: "";
  width: 0;
  height: 4px;
  background-color: var(--darkgrey);
  position: absolute;
  bottom: -20px;
  left: 0;
  transition: all 0.2s ease-in;
}

.main-header ul li:hover::before {
  width: 100%;
}

.flex-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-link svg {
  fill: var(--darkgrey);
  transition: all 1s ease-in-out;
}

.flex-link:hover svg {
  transform: rotate(3600deg) scale(1.2);
}

.header-btn {
  background-color: var(--lightgreen);
  color: var(--darkgrey);
  font-size: 1rem;
  gap: 5px;
}

.header-btn svg {
  fill: var(--darkgrey);
}

.header-btn:hover {
  background-color: var(--white);
}

/* HOMEPAGE */

.homepage-section,
.login-section {
  background: url(../public/cow.jpg);
  background-size: cover;
  height: 92.85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: var(--white);
  text-shadow: 0 0 10px var(--darkgrey), 0 0 50px var(--darkgrey);
}

/* ALL COWORKINGS */

section {
  padding: 10vh 10vw;
}

h2 {
  margin-bottom: 4vh;
  text-transform: uppercase;
}

.coworkings-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 3vw;
}

.coworking-card {
  border-bottom: 1px solid var(--coral);
  padding: 10px 10px;
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.coworking-card h3 {
  margin-bottom: 1vh;
  color: var(--darkgrey);
}

.coworking-card div > p {
  color: var(--brown);
  font-style: italic;
}

.coworking-card::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: var(--coral);
  position: absolute;
  transition: all 0.3s ease-in-out;
  left: 0;
  top: 0;
  z-index: -1;
}

.coworking-card:hover::before {
  width: 100%;
}

.btns-container {
  display: none;
  position: relative;
}

.btns-container .btn,
.btns-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  height: 70px;
}

.btn p {
  color: var(--white);
  font-size: 0.7rem;
}

.delete-btn {
  background-color: red;
}

.btn svg {
  fill: var(--white);
  transition: all 0.2s;
}

.delete-btn:hover {
  background-color: rgb(147, 0, 0);
}

.update-btn {
  background-color: var(--blue);
}

.update-btn:hover {
  background-color: var(--darkgrey);
}

.btn:hover svg {
  transform: scale(1.2) rotate(-5deg);
}

.coworking-card:hover .btns-container {
  display: flex;
  gap: 5px;
}

.pop-msg {
  position: absolute;
  z-index: 100;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(233, 233, 233);
  padding: 30px;
  width: 250px;
  background-color: var(--white);
}

.pop-msg svg {
  fill: var(--green);
}

.pop-msg-error svg {
  fill: var(--red);
}

.pop-line {
  position: absolute;
  z-index: 200;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--lightbrown);
  width: 310px;
  height: 6px;
  animation: scale 3s;
  transform-origin: 0;
}

@keyframes scale {
  0% {
    transform: scaleX(100%) translateX(-50%);
  }
  100% {
    transform: scaleX(0%) translateX(-50%);
  }
}

/* FORM */

.create-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 70vw;
  margin: auto;
  gap: 20px;
}
.form-element {
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  border: 1px solid var(--green);
  margin-top: 5px;
}

.submit-btn {
  grid-column: 1/5;
  margin: auto;
}

.grid-3 {
  display: grid;
  grid-column: 1/5;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* LOGIN */

.login-section {
  height: 79.9vh;
}

.login-section form {
  background-color: var(--coral);
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 20px var(--darkgrey);
}

.login-submit-btn {
  margin-top: 20px;
}

.header-btn svg {
  fill: var(--darkgrey);
}
