* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  transition: all 0.2s ease-in-out;
}

:root {
  --primaryColor : rgb(0, 0, 0);
  --secondaryColor : white;
  --tertiaryColor : #E5F33C;
  --fourtyColor : rgb(34, 34, 34);
  --fiftyColor : #9d9d9d;

}

/* header */

.main-header, .main-footer{
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  border-bottom: 1px solid var(--tertiaryColor);
}

.main-header .img-container {
  height: 50px;
}

.main-header .img-container svg {
  height: 100%;
  fill: var(--tertiaryColor);
  rotate: -5deg;
}

.main-header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-header ul li {
  margin: 0 30px;
  font-weight: 600;
}

.main-header ul li:hover {
  color: var(--tertiaryColor);
}

.main-header ul >:last-child {
  border: 1px solid var(--tertiaryColor);
  padding: 10px 15px;
  border-radius: 15px;
}

.main-header ul >:last-child:hover {
  background-color: var(--tertiaryColor);
  color: var(--secondaryColor);
}

.nav-cart-button {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 5px 10px 5px 5px !important;
  cursor: pointer;
}

.nav-cart-button p {
  background-color: var(--tertiaryColor);
  color: var(--primaryColor);
  padding: 5px;
  border-radius: 10px;
  width: 20px;
  text-align: center;
}

.main-header ul li svg {
  fill: var(--tertiaryColor);
}

.main-header ul li:hover svg {
  fill: var(--primaryColor);
}

h1 span {
  color: var(--tertiaryColor);
}

h2 {
  text-align: center;
  margin-bottom: 80px;
}


/* container */

.container {
  display: flex;
  height: 80vh;
}

/* main-sections */

.main-sections {
  width: 90vw;
  padding: 50px;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.all-products h2 {
  grid-column: 1/5;
  margin-bottom: 0;
}

/* product card */

.product-card {
  /* border: 1px solid var(--tertiaryColor); */
  padding: 10px 10px 30px;
  border-radius: 0 25px 25px;
}

.card-name-price {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.product-card .product-img {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

.product-card .product-img img {
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px;
  object-fit: cover;
  object-position: center;
}

.card-product-description {
  font-style: italic;
  font-size: 0.6rem;
  padding: 0 20px;
  margin-top: 5px;
}

/* aside */

.aside {
  width: 20vw;
  border-left: 1px solid var(--primaryColor);
  height: 100%;
  padding-top: 50px;
}

.aside-cart {
  margin: 0 50px;
}

.cart-product-quantity {
display: flex;
justify-content: space-between;
align-items: end;
}

.cart-product-img {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

.cart-product-img img {
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px;
  object-fit: cover;
  object-position: 0 -80px;
  
}

.cart-quantity {
  font-weight: 600;
  margin-left: 5px;
}

.product-amount {
  font-size: 0.8rem;
  font-weight: 700;
}

.total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
  padding: 10px 30px;
  border-top: 1px solid var(--tertiaryColor);
  background-color: var(--primaryColor);
}

.total-price p {
  color: var(--tertiaryColor);
}

.total-price .total {
  font-size: 0.8rem;
}

.euro-symbol {
  color: var(--tertiaryColor);
  font-weight: 600;
}

h3 {
  color: var(--fiftyColor);
  text-transform: uppercase;
}

h4 {
  color: var(--tertiaryColor);
}

/* footer */

.main-footer {
  padding: 30px;
  justify-content: center;
  gap : 20px;
}