:root {
    --col1: rgb(255, 210, 226);
    --col2: rgb(120, 0, 40);
}

body {
    background: var(--col1);
    color: var(--col2);
    text-align: center;
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
}


h1 {
    font-style: italic;
    rotate: -2deg;
    font-size: 3rem;
    letter-spacing: 10px;
    transition: all 0.2s ease-in;
}

h1:hover {
    letter-spacing: 40px;
    rotate: 5deg;
}

h2 {
    font-weight: 300;
    cursor: pointer;
}

h2:hover {
    font-weight: 500;
}

#root, #root2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 3vh 5vw;
}

#root2 {
    background: var(--col2);
    color: var(--col1);
}

img {
    height: 8vh;
    border-radius: 30px;
    border: 3px solid var(--col1);
    margin: 0 0 1vh;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

img:hover {
    box-shadow:2px 2px 0px var(--col2), 2px -2px 0px rgb(255, 255, 255), -1px -1px 0px var(--col2), -2px 2px 0px rgba(255, 255, 255, 0.8);
    rotate: -2deg;
}

form {
    grid-column: 1 / 9;
    padding: 5vh 0;
    background-color: rgba(255, 255, 255, 0.229);
    margin-bottom: 5vh;
}

.recepies-title, .categories-title {
    grid-column: 1 / 9;
    font-weight: 600;
    color: white;
}

.recepies-title {
    color: var(--col2);
}